<div id="<%= dom_id autor %>">

   <p>
    <strong>ID:</strong>
    <%= autor.id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= autor.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= autor.cpf %>
  </p>

</div>
