<div id="<%= dom_id montagem %>">
  <p>
    <strong>Nome:</strong>
    <%= montagem.nome %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= montagem.livro.titulo%>
  </p>

  <p>
    <strong>Peças:</strong>
    <% montagem.pecas.each do |peca| %>
      <%= peca.nome %>
    <% end %>
  </p>

  
</div>
