<div id="<%= dom_id montagem %>">
  <p>
    <strong>Nome:</strong>
    <%= montagem.nome %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= montagem.livro.titulo%>
  </p>

  <p>
    <strong>Peça:</strong>
    <%= montagem.peca.nome%>
  </p>

</div>
