<h1>Editing montagem peca</h1>

<%= render "form", montagem_peca: @montagem_peca %>

<br>

<div>
  <%= link_to "Show this montagem peca", @montagem_peca %> |
  <%= link_to "Back to montagem pecas", montagem_pecas_path %>
</div>
